/* Custom properties */
:root {
  --background-color: #2a2a2a;
  --second-background-color: #202020;
  --text-color: #ccc;
  --main-color: #76ff03;
  --big-font: 4rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset values */
* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: 'Be Vietnam Pro', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Site style */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: var(--background-color);
  color: var(--text-color);
}

span {
  font-weight: 900;
  color: var(--main-color)
}

/* Header style */
header {
  width: 100%;
  height: 100vh;
  padding-bottom: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name {
  font-weight: 800;
}

.title {
  font-weight: 300;
}

.navlist {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.navlist a {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0 10px;
  transition: 0.45s ease;
}

.navlist a:hover {
  color: var(--main-color);
}

#menu-icon {
  color: var(--text-color);
  font-size: 2rem;
  z-index: 1001;
  margin-left: 24px;
  display: none;
}


/* Media queries */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}